<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fullname,
                required: true,
                autofocus: true,
                placeholder: "Laurent Deguil",
                input_html: { autocomplete: "fullname" }%>
    <%= f.input :country, as: :string,
                required: true,
                autofocus: true,
                placeholder: "France",
                input_html: { autocomplete: "country" }%>
    <%= f.input :image, as: :file, label: "Change your avatar" %>
    <%= f.input :city,
                required: true,
                autofocus: true,
                placeholder: "Marseille",
                input_html: { autocomplete: "city" }%>
    <%= f.input :function,
                required: true,
                autofocus: true,
                placeholder: "Testeur",
                input_html: { autocomplete: "function" }%>
    <%= f.input :school,
                required: true,
                autofocus: true,
                placeholder: "Le Roy Merlin",
                input_html: { autocomplete: "school" }%>
    <%= f.input :phone,
                required: true,
                autofocus: true,
                placeholder: "+33 7 43 56 55 77",
                input_html: { autocomplete: "phone" }%>
    <%= f.association :company, as: :select,
                      placeholder: "Feelows" %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :skill_list, label: "Skills",
                collection: $list_of_tags, as: :check_boxes %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
