<h2>Sign up</h2>




  <p>Do you have a ResearchGate account ?</p>

  <%= form_tag user_get_researchgate_info_path, method: :post do %>

    <input type="text" name="username" id="username" placeholder:="ResearchGate username account" required>
    <button name="public"  type="submit" class="btn btn-primary" data-toggle="button">ReseachGate</button>
  </div>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: user_registration_path, method: :post) do |f| %>
<%= f.error_notification %>


<%= render "shared/form_user", user: @user%>
<% end %>


<%# render "devise/shared/links" %>

<%= link_to "Back", new_session_path(resource_name) %><br />
