<div id="title-collab">
<h1>Search-Collaborators</h1>
</div>
<table id="collaborators" >
<thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Collab</th>
    <th>Responses</th>
    <th>Projects</th>
    <th>Projects Lead</th>
    <th>Last Connection</th>
  </tr>
</thead>

<tbody class="table-body">
  <%@users.each do |user| %>
    <tr class="collab-line">
      <td>
        <!-- bouton add collaborateur au projet -->
        <div class=" btn btn-rounded-s ">
        +
        </div>
      </td>
      <td>
        <!-- avatr et description -->
        <div class="d-flex align-items ">
          <div >
           <!--  <p>avatar</p> -->
            <%= user.avatar %>
          </div >
          <div class="collab-card">
            <%= user.fullname %> <br>
            <%= user.function %>
          </div>
        </div>
      </td>
      <td>
        <!-- nb de collaborations -->
        <div class="d-flex align-items-center justify-content-around ">
          <div class="stat-number">
            <% total = 0 %>
            <% user.projects.each do |project| %>
              <% total += project.collaborations.count %>
            <% end %>
            <%= total %>
          </div>
        </div>
      </td>
      <td>
        <!-- percent de respponse -->
        <div class=" response">
        <div class="graph-cont">
          <div class="bar bar1" style="width: <%=user.response%>%;">
            <p><%= "#{user.response} %" %> </p>
          </div>

        </div>
      </div>
      </td>
      <td>
        <!-- nb de follow projects -->
        <div class="stat-number">
            40
        </div>
      </td>
      <td>
        <!-- nb de lead projects -->
        <div class="stat-number">
          18
        </div>
      </td>
      <td>
        <div class="connex">
          13:27
        </div>
      </td>
    </tr>
  <%end%>
</tbody>
</table>
<!-- </div> -->

