<div id="title-collab">
  <h1>Researchers Available</h1>
  <p class="light-description">
    Find here the candidates closest to your expectations
  </p>
</div>
<table id="collaborators" >
<thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Collab</th>
    <th>Responses</th>
    <th>Projects Lead</th>
    <th>Location</th>
    <th>Experience</th>
  </tr>
</thead>

<tbody class="table-body">
  <%@users.each do |user| %>
    <tr class="collab-line">
      <td>
        <!-- bouton add collaborateur au projet -->
        <%= link_to '>', user_profile_path(user), class: "btn btn-circle" %>
      </td>
      <td>
        <!-- avatar et description -->
        <div class="d-flex align-items-center ">
          <div>
            <%= image_tag("#{user.avatar}", class: "avatar-m dropdown-toggle") %>
          </div>
          <div class="collab-card">
            <span class="font-weight-bold"><%= user.fullname %> <br></span>
            <%= user.function %>
          </div>
        </div>
      </td>
      <td>
        <!-- nb de collaborations -->
        <div class="d-flex align-items-center justify-content-around ">
          <div class="stat-number">
            <% total = 0 %>
            <% user.projects.each do |project| %>
              <% total += project.collaborations.count %>
            <% end %>
            <%= total %>
          </div>
        </div>
      </td>
      <td>
        <!-- percent de respponse -->
        <p><%= "#{user.response} %" %> </p>
        <div class=" response height=24px">
          <div class="graph-cont">
            <div class="bar bar1" style="width: <%=user.response.to_i%>%;">
            </div>
          </div>
        </div>
      </td>
      <td>
        <!-- nb de follow projects -->
        <div class="stat-number">
          <%= user.projects.count %>
        </div>
      </td>
      <td>
        <!-- nb de lead projects -->
        <div class="collab-card">
          <span class="font-weight-bold"><%= user.country %> <br></span>
          <%= user.city %>
        </div>
      </td>
      <td>
        <div class="experience">
          <%= user.experience %>
        </div>
      </td>
    </tr>
  <%end%>
</tbody>
</table>
<!-- </div> -->

