<!-- Première partie de l'écran -->
<!-- Description User -->
<div class="w-100 px-4 py-2 flat-card d-flex">
  <div class="id-user d-flex">
    <div class="avatar-l mr-3">
      <img src="${@user.avatar" alt="avatar">
    </div>
    <div class="user-info">
      <h3 style="color: #1C3893"><%= @user.fullname %> </h3>
      <h4><%= @user.function %></h4>
      <p><%= @user.city + ", " + @user.country %></p>
      <p class="description"><%= @user.school %></p>
    </div>
  </div>
  <div class="stat-label">
    <!-- Numbers of projects -->
    <div class="stat-number"><%= @projects_I_lead.count %></div>
    <p>Projects</p>
  </div>
  <div class="stat-label">
    <%#= @mycollaborations.count%>
    <div class="stat-number"><%= @user.collaborations.count%></div>
    <p>Collaborations</p>
  </div>
  <div class="stat-label">
    <div class="stat-number">32</div>
    <p>Network</p>
  </div>
  <div class="contact-cta">
    <%= link_to edit_user_registration_path(@user) do %>
    <i class="fas fa-user-edit"></i>
    <% end %>
    <i class="fas fa-envelope"></i>
  </div>
</div>
<!-- Deuxième partie de l'écran -->
<div class="d-flex wrapper-profile">
  <!-- Colonne gauche -->
  <div class="col-8 px-0">
    <!-- Expertises -->
    <div class="flat-card my-4 px-4 py-2">
      <h3>Expertises</h3>
      <div class="expertises-profile p-3">
      <%= @myexpertises.each do |expertise|%>
      <h4><%= expertise.name %></h4> %>
      <% end %>
      </div>
    </div>
    <div class="flat-card my-4 px-4 py-2">
      <!-- Projets -->
      <div class="d-flex justify-content-between align-items-center">
      <h3>Projects</h3>
      <%= link_to 'Add project', new_project_path(@project), class: 'btn btn-rounded'%>
      </div>

      <div class="m-3">
        <% @projects_I_lead.each do |project|%>
        <div class="floating-card">
          <h4><%= project.name %></h4>
          <p><%= project.description %></p>
          <p><%= project.status %></p>
          <%= link_to ' >', projects_path, class: 'btn btn-circle'%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Colonne droite -->
  <div class="col-4 px-0 pl-3 ">
    <!-- Collaboration -->
    <div class="flat-card my-4 px-4 py-2">
      <h3>Collaboration</h3>
      <div class="p-3">
        <%  @user.collaborations.each do |collaboration| %>
        <div class="d-flex align-items-center">
          <%= image_tag collaboration.project.user.avatar, class: "avatar-s" %>
          <div class="">
          <p><%= collaboration.project.user.fullname %></p>
          <%= collaboration.project.user.function class: "light-description" %>
          </div>
        </div>
        <%end %>
      </div>
    </div>
    <!-- Network -->
    <div class="flat-card my-4 px-4 py-2">
      <%#= @mynetworks.count%>
      <h3>Network</h3>
      <!-- <h2>Network</h2> -->
    </div>
  </div>
</div>
