<h1> Reussi</h1>


<!-- Description User -->
<%= @user.avatar %>
<h2><%=  @user.first_name @user.last_name %> </h2>
<%= @user.function %>
<%= @user.city %>
<%= @user.country %>
<%= @user.school %>

  <%= link_to user.email, user_path([@company, @user]), class: 'btn btn-primary' %>
    <%#= link_to user.phone, user_path([@company, @user]), class: 'btn btn-primary' %>

  <%= link_to 'Edit Profil', edit_user_path(@user), class: 'btn btn-primary'%>

<!-- Numbers of relations -->
  <%#= @myprojects.count%>
  <%#= @mycollaborations.count%>
  <%#= @mynetworks.count%>

<!-- Expertises -->
  <h2>Expertises</h2>
  <%= @myexpertises %>

<!-- Projets -->
<h2>Projects</h2>
<%= @myprojects.each do |project|%>
<%= project.name %>
<%= project.description %>
<%= project.status %>
<%= link_to 'Add project', edit_project_path(@project), class: 'btn btn-primary'%>
<% end %>

<!-- Collaboration -->
<h2>Collaboration</h2>
<%= @mycollaborations.each do |collaboration|%>
<% end %>

<!-- Network -->
<!-- <h2>Network</h2> -->

