<!-- Description User -->
<img src="${@user.avatar" alt="avatar">
<h2><%= @user.fullname %> </h2>
<p><%= @user.function %></p>
<p><%= @user.city %></p>
<p><%= @user.country %></p>
<p><%= @user.school %></p>
<p><%= @user.email %></p>

<!-- Numbers of projects -->
  Projects: <%= @projects_I_lead.count%>

  <%#= @mycollaborations.count%>
  Collaborations: <%= @user.collaborations.count%>

  <%#= @mynetworks.count%>

<!-- Expertises -->
  <h2>Expertises</h2>
  <%= @myexpertises %>

<!-- Projets -->
<h2>Projects</h2>
<% @projects_I_lead.each do |project|%>
<h3><%= project.name %></h3>
<p> starting date: <%= project.created_at%> </p>
<p> statute: <%= project.status %> </p>
<p><%= project.description %></p>
<p><%= project.status %></p>
<img src="${@Project.user.avatar" alt="avatar">
<img src="${@project.collaboration.user.avatar" alt="avatar">
<%= link_to ' More', projects_path(@project), class: 'btn btn-primary'%>
<% end %>

<!-- Collaboration -->
<h2>Collaboration</h2>
<%  @user.collaborations.each do |collaboration| %>
<%= collaboration.project.user.fullname %>
<img src="${@collaboration.project.user.avatar" alt="avatar">
<%end %>

<!-- Network -->
<h2>Network</h2>
<!-- <h2>Network</h2> -->

