<h1> Reussi</h1>


<!-- Description User -->
<img src="${@user.avatar" alt="avatar">
<h2><%= @user.fullname %> </h2>
<p><%= @user.function %></p>
<p><%= @user.city %></p>
<p><%= @user.country %></p>
<p><%= @user.school %></p>
<p><%= link_to @user.email, user_path([@company, @user])%></p>

    <%#= link_to user.phone, user_path([@company, @user]), class: 'btn btn-primary' %>

  <%= link_to 'Edit Profil', edit_user_path(@user), class: 'btn btn-primary'%>

<!-- Numbers of relations -->
  <%= @myprojects.count%>
  <%#= @mycollaborations.count%>
  <%#= @mynetworks.count%>

<!-- Expertises -->
  <h2>Expertises</h2>
  <%= @myexpertises %>

<!-- Projets -->
<h2>Projects</h2>
<% @myprojects.each do |project|%>
<h3><%= project.name %></h3>
<p><%= project.description %></p>
<p><%= project.status %></p>
<%= link_to ' More', projects_path(@project), class: 'btn btn-primary'%>
<% end %>
<%= link_to 'Add project', new_project_path(@project), class: 'btn btn-primary'%>
<!-- Collaboration -->
<h2>Collaboration</h2>
<%#= @mycollaborations.each do |collaboration|%>
<%# end %>

<!-- Network -->
<h2>Network</h2>
<!-- <h2>Network</h2> -->

