<div id="side-bar">
  <div class="side-bar-container">
    <div class="menu-top">
      <%= link_to company_path(current_user.company) do %>
      <div class="item-menu">
        <i class="menu-icon fas fa-atom"></i>
        <div class="menu-title">Dashboard</div>
      </div>
      <% end %>
      <%= link_to authenticated_root_path do %>
      <div class="item-menu">
        <i class="menu-icon fas fa-id-card-alt"></i>
        <div class="menu-title">Profile</div>
      </div>
      <% end %>
      <%= link_to projects_path do %>
      <div class="item-menu">
        <i class="menu-icon fas fa-project-diagram"></i>
        <div class="menu-title">Projects</div>
      </div>
      <% end %>
      <%= link_to '#' do %>
      <div class="item-menu">
        <i class="menu-icon fas fa-dna"></i>
        <div class="menu-title">Expertises</div>
      </div>
      <% end %>
    </div>
    <div class="menu-down">
      <%= link_to test_page_path do %>
      <div class="item-menu">
        <i class="menu-icon fas fa-sliders-h"></i>
        <div class="menu-title">Settings</div>
      </div>
      <% end %>
    </div>
  </div>
</div>
