
<div class="container">
  <!--<div class="form"> -->
    <!-- <div class="row justify-content-center"> -->
      <!-- <div class="col-md-8"> à voir si c'est ça-->
        <!-- <h1 id="title_project"> Give a title to your project</h1> -->
       <!--  <div class="form"> -->


      <div class="flat-card margin-form">


        <h3 class="title">New Project</h3>

        <%= simple_form_for @project do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      placeholder: "Give a title to your project",
                      input_html: { autocomplete: "Name" }%>
          <%= f.input :description, as: :text,
                      required: true,
                      autofocus: true,
                      placeholder: "Description of your project",
                      input_html: { autocomplete: "description" }%>
          <%= f.input :status,
                      autofocus: true,
                      placeholder: "In Progress",
                      input_html: { autocomplete: "in progress" }%>
          <%= f.input :visibility,
                      autofocus: true,
                      label: "Public",
                      input_html: { autocomplete: "true" }%>
          <%= f.input :open_to_apply,
                      autofocus: true,
                      placeholder: "Yes",
                      input_html: { autocomplete: "true" }%>
        </div>
      </div>

      <div class="skills-positions">
        <div class="flat-card margin-form">
          <div class="skills">
            <h3>Skills & Expertises</h3>
            <div class="light-description">Choose expertises needed for project</div>
          </div>
        </div>
      </div>
              <!-- il faut une barre de recherche? -->
      <div class="contributions-positions">
        <div class="flat-card margin-form">
          <div class="contributions">
            <h3>Contributions</h3>
          </div>
        </div>
      </div>   <!-- il faut une barre de recherche -->

      <div class="end-form margin-form">
        <div class="btn-primary">
        <%= f.button :submit, "Create Project"%>
        <% end %>
        </div>
      </div>


</div>


