<div class="container">
  <%= simple_form_for @project do |f| %>
  <%= f.error_notification %>
  <div class="flat-card p-5">
    <h3 class="title">
      <% if current_page?(controller: 'projects', action: 'new') %>
      Add a new project
      <% else %>
      Edit your project
      <% end %>
    </h3>
    <div class="floating-card p-5 mx-4">
      <div class="form-inputs">
        <%= f.input :name,
        required: true,
        autofocus: true,
        placeholder: "Give a title to your project",
        input_html: { autocomplete: "Name" }%>
        <%= f.input :description, as: :text,
        required: true,
        autofocus: true,
        placeholder: "Description of your project",
        input_html: { autocomplete: "description" }%>
        <%= f.input :visibility,
        autofocus: true,
        label: "Define your project as private (visible only by you and collaborators added)",
        input_html: { autocomplete: "true" }%>
      </div>
    </div>
    <div class="floating-card mt-3 p-5 mx-4">
      <div class="text-center pb-4"><h3>Expertises needed for this project</h3></div>
      <div class="skills">
        <div class="tags-search">
            <label for="search" class="form-inputs">Search for an expertises...</label>
            <input type="text" class="form-control mt-2" name="search" placeholder="Search company expertise" id="myInput" autocomplete="off">
            <div class="skill-list">
              <!-- Tag expertise bucket -->
              <div class="d-flex flex-wrap">
                <% @project.project_tags.each do |tag| %>
                <div class="tag-expertise">
                  <i class="fas fa-bookmark ml-0 mr-2 justify-content-between"></i>
                  <%= tag.upcase %>
                </div>
                <% end %>
              </div>
              <div class="tag-export" style="display: none">
              </div>
            </div>
          </div>
          <div class="list-tags-search">
            <div class="form-inputs">...or pick them</div>
            <div class="scroll-list">
              <ul id="myUL">
                <% User.skill_counts.each do |skill| %>
                <li class="list"><a href="#"><%= skill.name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <div class="">
        <%= link_to 'Back', :back, class: "btn btn-secondary" %>
      </div>
      <div class="">
        <% if current_page?(controller: 'projects', action: 'new') %>
          <%= form_btn = "Add" %>
        <% else %>
          <%= form_btn = "Edit" %>
        <% end %>
        <%= f.button :submit, form_btn, class: "btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
