<div class="wrapper-index">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3> Projects list</h3>
    <%= link_to 'Create Project', new_project_path(@project), class: 'btn btn-rounded'%>
  </div>
  <!--  Description Project -->
  <div>
    <% @projects.each do |project| %>
    <div class="floating-card">
      <h4> <%= project.name %></h4>
      <div class="d-flex justify-content-between w-25">
        <div class="light-description"><%= project.created_at %></div>
        <div class="project-status"><%= project.status %></div>
      </div>
      <div class="description mt-3"><%= project.description %></div>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <img class= "avatar-m" src="${@user.avatar}" alt="avatar">
          <img class="avatar-s" src="${@project.collaboration.user.avatar}" alt="avatar">
        </div>
        <%= link_to '>', project_path(project), class: 'btn btn-circle'%>
      </div>
    </div>
    <% end %>
  </div>
</div>
