<!-- description projet -->
<h2> <%= @project.name %></h2>
<p>  starting date: <%= @project.created_at%> </p>
<p> statute: <%= @project.status %> </p>
<p><%= @project.description %> </p>
<!-- <p> <%= @project.open_to_apply %></p>
<p> <%= @project.visibility %></p> -->
<%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-primary'%>
<%= link_to 'Add project', new_project_path(@project), class: 'btn btn-primary'%>

<!-- Project expertises -->


<!-- Time line  -->

<!--Contributions -->
<div class="form">
  <h3>Your contribution </h3>
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <%= f.input :name%>
  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>
</div>
<!-- Collaborators -->

<%= link_to ' Add Collaborators', project_collaborations_path(@project)%>
<!-- Project Activities -->
   <p> Projects lead : <img src="${@user.avatar" alt="avatar"> </p>
      <p>Last activities:   </p>
